# Environment variables specified in this way will always be included in the JavaScript bundle,
# prefixing the environment variable name with "NEXT_PUBLIC_" only has an effect when specifying them through the environment or .env files.
# https://nextjs.org/docs/basic-features/environment-variables

NEXT_PRIVATE_DEBUG_CACHE = 0

NEXT_PUBLIC_APP_MODE = "local"
NEXT_PUBLIC_APP_NAME = "project_name"
NEXT_PUBLIC_APP_TZ = "Asia/Bangkok"
NEXT_PUBLIC_BASE_URL = "http://localhost:8443"

# Database
DATABASE_DIR = ""

# Bitcoin Core RPC
RPC_PROTOCOL = "http"
RPC_HOST = "127.0.0.1"
RPC_PORT = 8332
RPC_USERNAME = "bitcoin"
RPC_PASSWORD = "password"

# Various time formats [https://github.com/vercel/ms]
JWT_SECRET = ""
JWT_TTL = "1h"
