@import 'tailwindcss';
@import './theme.css';

@config "../../tailwind.config.js";

@layer base {
  * {
    scrollbar-width: auto;
    scrollbar-color: #141416 var(--color-background);
  }

  html,
  body {
    @apply text-foreground bg-background overflow-x-hidden antialiased;
    font-family: var(--font-ubuntu);
    text-rendering: optimizeLegibility;
  }

  button {
    @apply flex cursor-pointer items-center justify-center;
    scale: 1 !important;
  }
}

@layer components {
  .app-wrapper {
    @apply relative p-4;
  }

  .app-router {
    @apply pt-10;
    min-height: calc(100svh - 2rem);
  }

  .text-number {
    font-family: var(--font-number);
    word-spacing: -3px;
  }

  .mirror {
    @apply bg-space-50/5 ring-space-50/10 ring-1;
  }

  .is-required::after {
    @apply pl-1 text-sm text-red-500;
    content: '*';
  }

  .form-input {
    @apply ring-space-100/5 focus:ring-space-100/10 rounded-xs ring-1 outline-none focus:ring-2;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility word-* {
  word-spacing: --value(--word-spacing-*);
}
