@theme {
  --font-display: var(--font-ubuntu), 'sans-serif';
  --font-number: var(--font-number), 'monospace';

  --color-background: #0a0a0a;
  --color-foreground: #fafafa;

  --color-space-50: #fafafa;
  --color-space-100: #efefef;
  --color-space-200: #dcdcdc;
  --color-space-300: #bdbdbd;
  --color-space-400: #989898;
  --color-space-500: #7c7c7c;
  --color-space-600: #656565;
  --color-space-700: #525252;
  --color-space-800: #464646;
  --color-space-900: #3d3d3d;
  --color-space-950: #292929;

  --color-rainbow: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );

  --container-space: 992px;

  --word-spacing-tighter: -0.75rem;
  --word-spacing-tight: -0.25rem;
  --word-spacing-normal: 0rem;
  --word-spacing-wide: 0.025rem;
  --word-spacing-wider: 0.05rem;
}
